
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="promo" style="filter: blur(0px);">
    <div class="jumbotron" style="color: rgb(45,45,30);background-color: rgba(255,255,255,0.46);">
        <h1 style="color: rgb(0,0,0);font-family: Lobster, cursive;">Ưu đãi lớn !!!</h1>
        <p style="color: rgb(0,0,0);font-family: Lobster, cursive;">Chào mừng bạn đến với Sunny Shop!&nbsp;<br>Shop chuyên cung cấp sỉ và lẻ các loại hoa hướng dương!<br>Chất lượng tuyệt vời so với số tiền bạn phải bỏ ra!</p>
        <p><a class="btn btn-info btn-lg" role="button" href="trangchu.html" style="background-color: rgba(0,0,0,0.88);font-family: Lobster, cursive;">Xem ngay!</a></p>
    </div>
</div>
<div class="container site-section" id="welcome">
    <h1 style="font-family: Lobster, cursive;color: rgb(0,0,0);">Chào mừng bạn đến với Sunny Shop</h1>
    <p style="font-family: Lobster, cursive;color: rgb(0,0,0);">Đây là nơi chuyên cung cấp sỉ và lẻ các loại hoa hướng dương</p>
</div>
<div class="dark-section">
    <div class="container site-section" id="why">
        <h1 style="font-family: Lobster, cursive;">Tại sao lại mua ở chỗ tôi?</h1>
        <div class="row" style="color: rgb(0,0,0);">
            <div class="col-md-4 item">
                <i class="fa fa-sun-o"></i>
                <h2 style="font-family: Lobster, cursive;color: rgb(0,0,0);">Trải nghiệm tuyệt vời</h2>
                <p style="font-family: Lobster, cursive;color: rgb(0,0,0);">Cung cấp loại hoa chất lượng cao, giúp bạn có trải nghiệm mua sắm an tâm nhất</p>
            </div>
            <div class="col-md-4 item">
                <i class="fa fa-heart"></i>
                <h2 style="font-family: Lobster, cursive;">Phương châm</h2>
                <p style="font-family: Lobster, cursive;color: rgb(0,0,0);">Lấy sự hài lòng của khách hàng làm trọng</p>
            </div>
            <div class="col-md-4 item">
                <i class="fa fa-shopping-basket"></i>
                <h2 style="font-family: Lobster, cursive;">Tiêu chí</h2>
                <p style="font-family: Lobster, cursive;color: rgb(0,0,0);">Nhanh, đẹp, sang trọng, đầy ý nghĩa</p>
            </div>
        </div>
    </div>
</div>


